@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@font-face {
  font-family: "iCiel Crocante";
  src: url("https://cdnmedia.vtcgame.vn/aupc/trangchu/assets/fonts/iCielCrocante.otf")
    format("opentype");
}

.font-iCeil {
  font-family: "iCiel Crocante";
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

* {
  box-sizing: border-box;
}

.menu-trigger .icon-menu {
  display: block;
  background: url("/assets/images/menu-mb.svg") 0/100% no-repeat;
  width: 26px;
  height: 26px;
  &.open {
    background: url("/assets/images/icon-close.png") 0/100% no-repeat;
    position: fixed;
    right: 16px;
    z-index: 10;
    top: 20px;
  }
}

.dropdown-menu {
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #00105a;
  border-radius: var(--border-radius);
  padding: 60px 16px 10px;
  width: 0;
  height: 100vh;
  transition: all 0.5s ease;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  width: 100%;
  right: 0;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.dropdown-menu ul li {
  padding: 10px 0;
  border-bottom: 1px solid #505050;
  &.no-border {
    border-bottom: none;
    padding: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  a {
    display: block;
    color: #ffef94;
    text-align: center;
  }
}

.dropdown-menu ul li:hover a {
  cursor: pointer;
  color: #fff;
}

.dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.antd-tranform-antd {
  transform: rotate(90deg);
}
.dropdown-menu {
  .ant-collapse-header-text {
    color: #fff;
    flex: auto !important;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
  }
  .ant-collapse-item {
    border-bottom: 1px solid #1931a2;
    border-radius: 0 !important;
    .ant-collapse-header {
      border-radius: 0;
      display: flex;
      align-items: center;
    }
  }
  .ant-space-item {
    .ant-collapse {
      border: none;
    }
  }
  .ant-collapse-content {
    background-color: transparent;
    color: #fff;
    border-top: none;
  }
  .lst-submenu {
    a {
      display: block;
      text-align: right;
      font-size: 16px;
      padding: 10px 0;
      font-weight: bold;
    }
  }
}

.list-menu {
  font-family: "iCiel Crocante";
  transition: all 0.3s ease;
  .wrapper-lst-menu {
    height: 98px;
    overflow: hidden;
  }
  .sub-menu {
    transition: all 0.3s ease;
    height: 0;
  }
  &:hover {
    height: 320px;
    .wrapper-lst-menu {
      height: auto;
    }
    .sub-menu {
      height: 253px;
    }
  }
}
.clip-logo {
  position: relative;
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 71px;
    width: 100%;
    height: 60px;
    left: 0;
    // background-color: #fff;
    // clip-path: polygon(0 0, 100% 0, 90% 34%, 9% 34%);

  }
}
.logged {
  .btn-login {
    display: none;
  }
  .user-login {
    display: flex;
    align-items: center;
    font-size: 14px;
    span {
      display: inline-block;
      color: #8b8b8b;
      max-width: 140px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a {
      color: #ff9e00;
      margin-left: 10px;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

body {
  padding-top: 55px;
  .headerTop {
    position: fixed;
    top: 0;
    transition: all 0.3s ease;
  }
  &.closeHeader {
    .headerTop {
      transform: translateY(-150%);
    }
  }
}
.clip-logo {
  position: relative;
  .path-outside-logo {
    position: absolute;
    top: 71px;
    width: 100%;
    height: 27px;
    left: 0;
    background-color: #000;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 14% 100%);
  }
  .path-inside-logo {
    display: block;
    position: absolute;
    top: 0;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 14% 100%);
  }
}
@media (min-width: 1024px) {
  .menu-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      border-bottom: none !important;
      margin: 0 20px;
      &.btn-login {
        order: 4;
        margin: 0;
        display: flex;
        align-items: center;
      }
      &.user-login {
        order: 2;
        margin: 0;
        span {
          display: inline-block;
          margin-right: 6px;
          color: #fff;
        }
      }
    }
    .list-menu {
      display: flex;
      align-items: center;
      flex: 1;
    }
    .logout-area {
      order: 3;
      li {
        border-top: none;
        a {
          text-indent: -999em;
          background: url("/assets/images/icon-logout.png") 0/100% no-repeat;
          width: 29px;
          height: 27px;
          text-indent: -999em;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .menu-container {
    flex: 1;
  }
  .dropdown-menu {
    opacity: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0;
    a {
      color: #414141;
      text-transform: none;
      font-size: 14px;
      border-bottom: none;
      margin: 0 24px;
      &:first-child {
        margin: 0;
      }
    }
    &.inactive {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
}

// main
.mySwiper,
.mySwiper1 {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: #ff9e00;
    font-weight: 900;
    text-shadow: rgb(255, 158, 0) 2px 0px 0px,
      rgb(255, 158, 0) 1.75517px 0.958851px 0px,
      rgb(255, 158, 0) 1.0806px 1.68294px 0px,
      rgb(255, 158, 0) 0.141474px 1.99499px 0px,
      rgb(255, 158, 0) -0.832294px 1.81859px 0px,
      rgb(255, 158, 0) -1.60229px 1.19694px 0px,
      rgb(255, 158, 0) -1.97998px 0.28224px 0px,
      rgb(255, 158, 0) -1.87291px -0.701566px 0px,
      rgb(255, 158, 0) -1.30729px -1.5136px 0px,
      rgb(255, 158, 0) -0.421592px -1.95506px 0px,
      rgb(255, 158, 0) 0.567324px -1.91785px 0px,
      rgb(255, 158, 0) 1.41734px -1.41108px 0px,
      rgb(255, 158, 0) 1.92034px -0.558831px 0px;
  }
  .swiper-slide {
    &.swiper-slide-active {
      .mySwiper-active {
        display: flex;
      }
    }
  }
}
.mySwiper3,.mySwiper4 {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: #ff9e00;
    text-shadow: rgb(255, 158, 0) 1px 0px 0px, rgb(255, 158, 0) 0.540302px 0.841471px 0px, rgb(255, 158, 0) -0.416147px 0.909297px 0px, rgb(255, 158, 0) -0.989992px 0.14112px 0px, rgb(255, 158, 0) -0.653644px -0.756802px 0px, rgb(255, 158, 0) 0.283662px -0.958924px 0px, rgb(255, 158, 0) 0.96017px -0.279415px 0px;
  }
  .swiper-slide {
    &.swiper-slide-active {
      .mySwiper-active {
        display: flex;
      }
    }
  }
}

  .control-sw3-next,
  .control-sw3-prev,  .control-sw3-next1,
  .control-sw3-prev1{
    position: absolute;
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    color: #ff9e00;
    text-shadow: rgb(255, 158, 0) 1px 0px 0px, rgb(255, 158, 0) 0.540302px 0.841471px 0px, rgb(255, 158, 0) -0.416147px 0.909297px 0px, rgb(255, 158, 0) -0.989992px 0.14112px 0px, rgb(255, 158, 0) -0.653644px -0.756802px 0px, rgb(255, 158, 0) 0.283662px -0.958924px 0px, rgb(255, 158, 0) 0.96017px -0.279415px 0px;
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .control-sw3-next,  .control-sw3-next1{
    right: var(--swiper-navigation-sides-offset, 3px);
    left: auto;
 
  }
  .control-sw3-prev,  .control-sw3-prev1{
    left: var(--swiper-navigation-sides-offset, 3px);
    right: auto;

  }

.m-btnActive1 {
  background: url(/assets/images/btn-3.svg) center / contain;
  width: 120px !important;
  height: 120px !important;
  div {
    display: none;
  }
}
.m-btnActive2 {
  background: url(/assets/images/btn-2.svg) center / contain;
  width: 120px !important;
  height: 120px !important;
  div {
    display: none;
  }
}
.kd-active{
  &::after{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: '';
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
  }
}
.custom-input{

input{
  &::placeholder{
    font-style: italic;
    color:#656565;

  }
}
}
@media (min-width: 1024px) {
  .m-btnActive1 {
    width: 175px !important;
    height: 175px !important;
  }
  .m-btnActive2 {
    width: 175px !important;
    height: 175px !important;
  }
}
@media (min-width:739px) {
  .mySwiper,
.mySwiper1 {

  .swiper-slide {
    
    &.swiper-slide-active {
      .mySwiper-active {
        display: none;
      }
    }
    &:hover {
      .mySwiper-active {
        display: flex;
      }
    }
  }
}
}